body {
	background-color: aliceblue;
	font-family: Ubuntu;
	text-align: center;
}
h1 {
	color: blue;
	text-shadow: 2px 2px 3px black;
	margin-bottom: 20px
}

table {
	border-collapse: collapse;
	margin: auto;
	border: 10px solid darkblue;
	
}
th, td{
	border: 3px solid  #226699;
	padding: 6px 12px 6px 12px;
	text-align: center;
}

.titulo{
	color: white;
	background-color:  #22aa55;
}
.modelos{
	color: yellow;
	font-size: 24px;
	background-color: #228855;
}
.rodape{
	color: yellow;
	background-color: #228855;
	text-align: left !important;
}
.preco{
	color: red;
}

.aro{
	color: White;
	background-color:  #2299dd !important;
}
tbody {
	background-color: yellow;
}