* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e6e6e2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-shadow: rgb(92, 91, 91);                                                      
}
.container {   
    width: 370px;
    background-color: white; 
    border: 3px solid white; 
    box-shadow: 5px 5px 20px  rgb(204, 200, 200), -5px -5px 20px rgb(204, 200, 200);
    border-radius: 8px;
    padding: 30px 40px;
}

.email, .senha {
    position: relative;
}

.email input {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    background-color: rgb(250, 248, 248);
}

.senha input {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 40px 10px 10px;
    background-color: rgb(250, 248, 248);
}

.emoji {
    position: absolute;
    right: 20px; 
    top: 18%;
}

.esqueci-senha {
    color: rgb(163, 161, 161);
    text-decoration: none;
}

.esqueci-senha:hover {
    text-decoration: underline;
}

.botao {
    background-color: blue;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: none; 
    cursor: pointer;
}

.botao:hover{
    background-color: rgb(105, 105, 235);
}

.cadastrar a{
    color: rgb(163, 161, 161);
    text-decoration: none;

}

.cadastrar a:hover {
    text-decoration: underline;
}