
h1 {
	text-align: center;
	color: blue;
	text-shadow: 2px 2px 4px black;
}

table {
	border-collapse: collapse;
	border: 10px darkblue solid;
	margin: auto;
}

.modelos th{
	background-color: green;
	padding: 5px;
	color: yellow;
	font-size: 20px;
	padding: 20px;
}

.sub{
	background-color: green;
}

th{
	border: 2px blue solid;
	padding: 20px;
}

td{
	border: 2px blue solid;
	padding: 20px;
}