body {
	background-color: lightgray;
	text-align: center;
}

h1 {
	color: darkblue;
	text-align: center;
}
table{
	border-collapse: collapse;
	background-color: black;
	border: 3px solid black;
	margin: auto;
}
th{
	border: 3px solid black;
	color: white;
	background-color: darkblue;
}

td{
	border: 3px solid black;
	color: black;
	background-color: white;
}